/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Montserrat', sans-serif;
}

.main-body {
  width: 1000px;
  min-height: 1000px;
  background-color: white;
  margin: auto;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(200, 255, 255, .8);
}


.SignUpForm {
  box-shadow: 10px 10px 10px #DFBFFF;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -280px;
  width: 500px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
}

.SignUpForm h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 40px;
}

.SignUpForm label {
  font-size: 15px;
}


.signup-input {

  border-radius: 5px;
  border: 1px solid #DFBFFF;
  width: 480px;
  height: 20px;
  margin: 10px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.SignUpForm input:focus {
  outline: none;
  border-color: #FF9EDB
}

.SignUpForm h3 {
  color: red;
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.submit-button {
  font-family: 'Julius Sans One', sans-serif;
  width: 500px;
  height: 25px;
  margin: 10px 0px;
  color: white;
  font-size: 15px;
  background-color: #9370DB;
}

.submit-button:active {
  background-color: #FF9EDB;
}

.leave:hover {
  color: #FF9EDB;
  cursor: pointer;
}

.closing-x {
  z-index: 4;
  color: #9370DB;
}

.closing-x:active {
  color: #FF9EDB;
}

#logo {
  font-size: 30px;
  background: linear-gradient(to bottom right, #9370DB, #7FF8FF);
  color: white;
  padding: 3px 10px;
}

.hidden {
  visibility: hidden;
}
