.landing {
  margin-right:10px;
  border-top: 4px solid #ee512f;
  color: white;
  width: 1240px;
  height: 450px;
  background-image: url("https://a-v2.sndcdn.com/assets/images/home/hp_image-6155d6b.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#landing-logo {
  margin-left: 10px;
  background: none;
  font-size: 40px;
}

#signup-button {
  margin-right: 25px;
  background-color: #ee512f;
  border: none;
}

#singup-button:hover {
  border: none;
}

.landing ul {
  display: flex;
  left: 10px;
}

.landing nav {
  display: flex;
  justify-content: space-between;
}

.landing button {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px 5px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid #cccccc;
}

.landing button:hover {
  border: 1px solid white;
}

.landing button {
  outline: none;
}

#logo-name {
  font-size: 15px;
  font-weight: 700;
}

.landing h1 {
  margin-left: 10px;
  font-size: 30px;
}

.landing-logo {
  margin-left: 20px;
  display: flex;
  align-items: center;
}


.fa-circle {
  border: 1px solid white;
  border-radius: 50px;
  color: transparent;
}

.checked {
  color: transparent;
  background-color: white;
}

#landing-button {
  font-size: 10px;
}


.slideLeft {
  transform: translateX(0px);
  transition: all .8s ease
}

.slideRight {
  transform: translateX(-980px);
  transition: all .8s ease
}
