
.footer-music-player {
  width: 100%;
  height: 50px;
  border-top: 1px solid #cccccc;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
}

.music-container {
  width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hidden {
  visibility: none;
}

.player-image {
  height: 30px;
  width: 30px;
  z-index: 2000000;
  background: linear-gradient(to bottom right, #846070, #70929c);
}

.music-controller {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  font-size: 20px;
  outline: none;
  margin-top: 4px;
}

.slider {
  -webkit-appearance: none;
   appearance: none;
   width: 512px;
   height: 2px;
   background-color: #d3d3d3; /* Grey background */
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
   cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee512f;
  cursor: pointer;
}

#volume-controller {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  font-size: 20px;
  outline: none;
}

.music-controller:hover {
  color: red;
}

.volume-slider {
  -webkit-appearance: slider-vertical;
  height: 100px;
  width: 5px;
}

.hidden-vol {
  display: none;
}

.show-vol {
  position: absolute;
  bottom: 59px;
  padding-left: 15px;
  background: #f2f2f2;
  border-right: 15px solid #f2f2f2;
  margin-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 4px 4px 10px grey;
}

.current-time, .remaining-time {
  width: 40px;
  font-size: 13px;
  font-weight: 200;
  margin-left: 12px;
}

.slidecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  margin-left: 200px;
}

.song-info {
  margin-top: 10px;
  display: flex;
  width: 400px;
}

.song-info ul {
  font-size: 13px;
  margin-left: 7px;
  display: block;
}

.song-info .author-name {
  color: #b3b3b3;
  margin-bottom: 2px;
}

.playlist-handler {
  position: relative;
}

.playlist-handler i {
  font-size: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

#playlist-album {
  height: 40px;
  width: auto;
}

.playlistHolder{
  padding: 10px;
  height: 450px;
  width: 350px;
  overflow: auto;
  background-color: white;
  bottom: 60px;
  left: -300px;
  position: absolute;
  box-shadow: 0px 0px 5px #cccccc;
}
::-webkit-scrollbar {
    display: none;
}

.playlist-item {
  padding: 5px;
  transition: background-color 0.1s;
  display: flex;
  justify-content: space-between;
}

.playlist-info {
  display: flex;
}

.playlist-item:hover {
  background-color: #f2f2f2;
}

li {
  list-style: none;
}

.playlist-background {
  background-color: red;
}

#remove-playlist {
  float: right;
  font-size: 20px;
  color: #cccccc;
  transition: color .1s;
}

#remove-playlist:hover {
  color: black;
}

#skip {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 14px;
}

.playlistHolder > h1 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px
}

.hamburger:hover {
  cursor: pointer;
}
