.navbar-container {
  background-color: #383838;
}

.navbar {
  font-size: 15px;
  font-weight: 300;
  margin: auto;
  display: flex;
  width: 1240px;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}

.navbar li {
  height: 100%;
}

.navbar li form input {
  -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -webkit-transition: all .2s ease-in;
   transition: all .2s ease-in;
  width: 560px;
  height: 28px;
  border-radius: 5px;
  border: none;
  padding: 0px 5px;
  font-size: 15px;
  background-color: whitesmoke;
  font-weight: 300;
}

.navbar li form input:focus {
  outline: none;
  background-color: white;
}

.nav-link {
  -moz-transition: all .1s ease-in;
   -o-transition: all .1s ease-in;
   -webkit-transition: all .1s ease-in;
   transition: all .1s ease-in;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-link:hover {
  color: #f07430;
}

.avatar {
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

#prof {
  display: flex;
  align-items: center;
}

#prof img {
  margin-right: 5px;
}

.header-button {
  -moz-transition: all .1s ease-in;
   -o-transition: all .1s ease-in;
   -webkit-transition: all .1s ease-in;
   transition: all .1s ease-in;
   margin-top: 14px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 4px 5px;
  height: 20px;
  border: none;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  background-color: #ed462f;
}
.header-button:hover {
  background-color: #f07430;
}

#logo {
  text-align: center;
  padding-top: 7px;
  min-width: 69px;
  font-size: 35px;
  background: linear-gradient( #f07430, #ed462f);
  color: white;
  height: 84%;
}

#home-coll {
  margin-bottom: 17px;
}

#search-marg {
  margin-bottom: 8px;
}

#nav-indent {

}
