
.slideshow {
  overflow: hidden;
}

.slideshow-content {
  margin-left: 400px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 1490px;
  height: 200px;
}

.slideshow-nav {
  justify-content: center;
  margin: 10px;
}

.slideshow-nav i {
  margin: 10px ;
}

.slide-one {
  font-weight: lighter;
  color: white;
}

.slide-two {
  font-weight: lighter;
  color: white;
}
