.track-form {
  border-top: 5px solid #ee512f;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  position: absolute;
  top: 170px;
  left: 50%;
  margin-left: -420px;
  height: 600px;
  width: 800px;
  padding: 20px;
  background: #fff;
  z-index: 3;
}

.track-cover {
  height: 260px;
  width: 260px;
  background: linear-gradient(to bottom right, #846070, #70929c);
  z-index: 3;
}

.track-form-not-buttons {
  display: flex;
}

.real-avatar-button {
  border-radius: 2px;
  border: none;
  position: absolute;
  z-index: 20;
  margin-left: -195px;
  margin-top: 225px;
  width: 130px;
  height: 26px;
  padding: none;
  font-size: 14px;
  font-weight: 400;
}

.track-fields {
  display: block;
}

.upload-btn-wrapper i {
  margin-right: 4px;
}

.file-button-avatar {
  z-index: 2000;
  margin-top: 225px;
  margin-left: 2px;
}
