.track-show-image {
  margin-top: 20px;
  height: 320px;
  width: 320px;
  background: linear-gradient(to bottom right, #846070, #70929c);
  -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}

.track-show-head {
  overflow: hidden;
  height: 380px;
  display: flex;
  background: linear-gradient(to bottom right, #00ff99, #00ccff);
}

.track-show-head-no-image-no-bar {
  display: flex;

}

.play-button-show, .pause-button-show {
  text-align: center;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  border: none;
  background-color: #ff5400;
  height: 60px;
  width: 60px;
  outline: none;
}

.play-button-show:hover {
  cursor: pointer;
}

.pause-button-show:hover {
  cursor: pointer;
}

.track-show-head-no-image {
  padding: 30px;
  padding-right: 20px;
}

.track-show-text {
  margin-left: 15px;
}

.track-show-text h1 {
  color: white;
  padding: 5px 5px;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,.5);
}

a {
  text-decoration: none;
}

.track-show-author {
  display: inline-block;
}

.track-show-title {
  cursor: default;
  font-size: 30px;
}

.bar-hold {
  margin-top: 160px;
}

.track-show-below {
  padding: 20px;
}

.track-show-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}


.track-show-head-no-image-no-bar {
  display: flex;
  justify-content: space-between;
}

.track-show-more-text {
  display: flex;
}

.genre {
  cursor: default;
  font-size: 15px;
  padding: 4px;
  color: white;
  background-color: rgb(180, 180, 180);
  border-radius: 10px;
  margin-bottom: 10px;
}

.play-count {
  cursor: default;
  opacity: 0.5;
  text-align: right;
}

.track-show-below-form {
  margin-top: 20px;
  display: flex;
}

.edit-track {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #ff5400;
  background-color: transparent;
  color: #ff5400
}

.delete-track {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #ff5400;;
  color: white;
  background-color: #ff5400;
}

.description {
  padding: 10px;
  width: 300px;
  height: 200px;
}

.description h1 {
  padding-bottom: 4px;
  color: #737373;
  border-bottom: 1px solid #737373;
}

.description pre {
  overflow: wrap;
  margin-top: 10px;
}

.track-show-author-info {
  padding: 5px;
  margin-right: 10px;
}

.track-show-author-info img {
  margin-bottom: 10px;
}

.track-show-author-info > a {
  color: black;
  text-align: center;
  padding-top: 20px;
}
